.search-container {
    width: 400px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}
#searchUserInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.user-list {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-height: 300px;
    overflow-y: auto;
    display: block;
}

.user-list li {
    display: block; /* Ensures list items are displayed vertically */
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Optional, adds separation between items */
}