/* Activation Container */
.activation-container {
    background-color: #2a2a2a;
    padding: 26px 39px;
    border-radius: 13px;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.5);
    width: 390px;
    text-align: center;
    margin-top: 104px;
}

.activation-container h2 {
    margin-bottom: 26px;
    color: #f09bc1;
    font-size: 2.3em;
}

.activation-container input {
    width: 100%;
    box-sizing: border-box;
    padding: 13px;
    margin: 13px 0;
    border: 2.6px solid #f7c1d9;
    border-radius: 6.5px;
    background-color: #1c1c1c;
    color: #f7f7f7;
    font-size: 1.3em;
}

.activation-container input:focus {
    border-color: #f09bc1;
    outline: none;
}

.activation-container button {
    width: 100%;
    box-sizing: border-box;
    padding: 13px;
    border: none;
    background-color: #f09bc1;
    color: #1c1c1c;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 6.5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 13px;
}

.activation-container button:hover {
    background-color: #f088b7;
}

.activation-container .hidden {
    display: none;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 500px) {
    .signup-container {
        width: 80%;
    }
}
